/* ------------- colors ------------- */
$orange:#ff7b29;
$white:#ffffff;
$oceanBlue:#0A192D;
$deepBlue:#132742;
$grey:#6A6F77;
$blue:#263FA4;
$lightBlue:#30BBD7;
$dark:#2D3134;
$black:#020000;
$deepGrey:#676A6C;