@use "../partials/" as p;

header {
	.header__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		i {
			cursor: pointer;
		}

		.header__btn {
			font-size: 14px;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
				rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		}
	}

	nav {
		.nav__list {
			display: flex;
			column-gap: 1.5rem;

			.nav__item {
				transition: 0.4s;
				padding: 10px 0;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 4px;
					background-color: p.$orange;
					bottom: 0;
					left: 0;
					border-radius: p.$radius-10;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 0.4s;
				}
				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}

				&:hover .nav__link {
					color: p.$dark;
					transition: color 0.3s ease;
				}
			}
		}

		.nav__link {
			font-weight: p.$weight-medium;
			color: p.$grey;
			font-size: p.$fontSize-8;
		}
	}
	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		display: block;
		height: 100%;
		width:50vw ;
		z-index: 999;
		background-color: p.$white; /* Replace p.$white with an actual color */
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
		transform: translateX(100%); /* Initially off-screen to the right */
		transition: transform 0.3s ease; /* Smooth transition for sliding */
		visibility: visible; /* Keep it visible for transitions */
		overflow: auto;
		i {
			margin-top: 1rem;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			font-size: 24px;
			padding: 10px 25px;
		}
		aside {
			.sidebar__list {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				li {
					width: 100%;
					margin-bottom: 1rem;
					transition: all 0.3s ease;
					&:hover{
						transform: scale(1.1);
					}
					a {
						display:flex;
						justify-content: center;
						align-items: center;
						color: p.$deepBlue;
						padding-block:10px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.sidebar.active {
		transform: translateX(0); /* Slide into view when active */
	}
}
