@use "../partials/" as p;


main{
   .newsletter{
      .newsletter__content{
         padding: 1rem;
         background-color: p.$deepBlue;
         display: flex;
         height: 280px;
         align-items: center;
         border-radius: 8px;
         justify-content: space-between;
         .news__left{
            margin-left: 3rem;
            .news__title{
               h3{
                  color: p.$white;
                  font-size: 30px;
                  margin-bottom: 4px;
               }
               p{
                  color: p.$white;
                  font-size: 14px;
                  margin-bottom: 1.5rem;
               }
            }

            .news__input{
               display: flex;
               align-items: center;
               background-color: p.$white;
               padding: 8px;
               border-radius: 6px;
               width: 300px;
               input{
                  outline: none;
               }
               i{
                  font-size: 24px;
                  color: p.$orange;
                  cursor: pointer;
               }
            }
         }

         .news__right{
            img{
               position: relative;
               width: 150px;
               margin-bottom: 1rem;
               bottom: 4.5rem;
               right: 6rem;
            }
         }
      }
   }
}